.extraMargin {
    margin-top: 80px;
}
.hero-section {
    background: rgb(145, 141, 141);
}
.hero-image {
    width: 300px;
    max-width: auto;
}
.hero-profile {
    font-size: 18px;
    font-weight: bold;
}
.language {
    background: #CADCD9;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 8px;
    border-radius: 20px;
}
.cool-link {
    color: black;
}
.btnDownloadResume {
    border: none;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border-radius: 71px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  21px 21px 30px #c3c3c3,
             -21px -21px 30px #fdfdfd;
}
.btnDownloadResume:hover {
    color: #348d86;
    background: linear-gradient(145deg, #a7a4a4, #cacaca);
    box-shadow:  21px 21px 30px #c3c3c3,
             -21px -21px 30px #fdfdfd;
} 

.btnContactMe {
    border: none;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border-radius: 71px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  21px 21px 30px #c3c3c3,
             -21px -21px 30px #fdfdfd;
}
.btnContactMe:hover {
    color: #348d86;
    background: linear-gradient(145deg, #a7a4a4, #cacaca);
    box-shadow:  21px 21px 30px #c3c3c3,
             -21px -21px 30px #fdfdfd;
}